{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Stats for {{scoreboard.hostname}}</title>
<meta name= "viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href='{% static "stats/css/bootstrap.min.css" %}' />
<link rel="stylesheet" type="text/css" href='{% static "stats/css/bootstrap-theme.css" %}' >
<link rel="icon" type="image/png" sizes="32x32" href="//elevatedgaming.net/favicon_32.png">

</head>

<style type="text/css">

*, html {
    margin:0;
    padding:0;  
}

h1, p, span, th, strong, #round{
    white-space: nowrap;
}

table{
    width: 100%;
    table-layout: fixed;
}


.item-tag > span::before { 
    content: "[";
}
.item-tag > span::after { 
    content: "]";
}

.table-terrorist>tbody>tr:nth-child(odd)>td,tr{
    background-color:rgba(0,0,0,0.25);
}
.table-cterrorist>tbody>tr:nth-child(odd)>td,tr{
    background-color:rgba(0,0,0,0.25);
}

.table-terrorist{
    background-color:rgba(255,51,51,0.40);
    margin-bottom: 5px;
}
.table-cterrorist{
    background-color:rgba(51,51,255,0.40);
    margin-bottom: 5px;
}
.table-header{
    background-color:rgba(255,255,255,0.04);
}

.ct-wins{
    color: rgb(41,144,216);
}

.t-wins{
    color: rgb(216,144,41);
}

#player_{{steamid}}{
    margin: 5px 0;
}

.special{
    margin: 5px 0 !important;
}

.table-spec>tbody>tr>td:hovr{
    background-color: #49515a;
}
.table-spec>tbody>tr>td:nth-chil(odd){
    background-color:rgba(0,0,0,0.25);
}
.table-spec>tbody>tr>td>.player-name:after {
    content: ", ";
}
.table-spec>tbody>tr>td>.player-name:last-child:after{
    content: "";
}
.table-spec{
    background-color:rgba(255,255,255,0.40);
}
#override-color{
    background-color:#3e444c;
    color: #eee;
}
.dropdown-item{
    margin-left: 7%;
}

/*-----------------MEDIA QUERIES-------------------------*/
@media only screen and (max-width: 1199px) {

    .col-md-6{
        width: 0;
    }

    h1{
        font-size: 29px;
        font-weight: bold;
    }

    #page-content-wrapper{
        display: table;
    }

}

</style>

<body>
<!-- Page Content -->
<div id="page-content-wrapper">

    <div class="container-fluid">
        <div id="django-msg-wrapper"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-breadcrumb"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
              <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>
                                    <strong>Stats</strong>
                                    <p><small>Live scoreboard and logs for {{scoreboard.hostname}}.</small></p>
                                    <button type="button" class="btn btn-default btn-sm"><a href="..">Go back to Server List</a></button>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Scoreboard
                        </div>
                        <div class="panel-body" style="width: 100%; padding: 0px;border-top: 1px solid black;border-bottom: 5px;">
                            <div class="col-lg-12" style="padding: 0px; width: 100%; margin: 4px 0 5px 0;">
                                <table class="table table-header" style="margin:0px;border: black solid 0px;">
                                    <thead>
                                      <tr class="scoreboard-header">
                                        <th class="tableheader1" style="width: 14%;"></th>
                                        <th class="tableheader2" style="width: 16%; padding-right: 4px;">  
                                            <h1 style="margin: 0"> <span id="ct-title" class="ct-wins">{{scoreboard.teams.3}}</span></h1>
                                        </th>
                                        <th class="tableheader3" style="width: 17.7%;">
                                            <p style="margin: 16px 0 0 0px; color: rgb(41,144,216);"><strong class="item"><span>Players Alive: </span></strong><em>{{ct_alive_count}}/{{ct_player_count}}</em></p>
                                        </th>
                                        <th class="tableheader4" style="width: 20%;">                                                            
                                            <h1 style="margin: 0"> <span id="ct-round-wins" class="ct-wins">{{ct_round_wins}}</span> : <span id="t-round-wins" class="t-wins">{{t_round_wins}}</span></h1>
                                        </th>
                                        <th class="tableheader5" style="width: 8.5%; padding-right: 4px;">                                                            
                                            <h1 style="margin: 0"> <span id="t-title" class="t-wins">{{scoreboard.teams.2}}</span></h1>
                                        </th>
                                        <th class="tableheader6" style="width: 23.8%;"> 
                                            <p style="margin: 16px 0 0 0px; color: rgb(216,144,41);"><strong class="item"><span> Players Alive: </span></strong><em>{{t_alive_count}}/{{t_player_count}}</em></p>
                                        </th>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                            <div class="double-table-wrapper" style="width: 100%">
                                <div class="col-lg-6" style="padding: 0px;">
                                    <table class="table table-cterrorist table-hover" style="margin:0;border: black solid 0px;">
                                        <thead>
                                          <tr class="ct-head-row">
                                            <th class="left-head-ct"></th>
                                            <th>Tag</th>
                                            <th class="ct-name-head">Player Name</th>
                                            <th></th>
                                            <th>K</th>
                                            <th>D</th>
                                            <th>R</th>
                                            <th>MVP</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for steam in sorted_list %}
                                            {% for steamid, data in scoreboard.players.items %}
                                                {% if steamid == steam %}
                                                    {% ifequal data.team 3 %}
                                                    <tr id="player_{{steamid}}" class="ct-player" style="width: 100%;">                                           
                                                        {% if data.alive == False %}
                                                            <td class="left-col-ct"></td>
                                                            {% if data.tag %}
                                                                <td><span style="color: #7a8288">{{data.tag}}</span></td>
                                                            {% else %}
                                                                <td></td>
                                                            {% endif %}
                                                            <td class=".ct-name"><span style="color: #7a8288">{{data.name}}</span></td>
                                                            <td>&#x1f480;</td>
                                                            <td><span style="color: #7a8288">{{data.kills}}</span></td>
                                                            <td><span style="color: #7a8288">{{data.deaths}}</span></td>
                                                            <td><span style="color: #7a8288">{{data.kd}}</span></td>
                                                        {% else %}
                                                            <td></td>
                                                            {% if data.tag %}
                                                                <td><span style="color: rgb(41,144,216)">{{data.tag}}</span></td>
                                                            {% else %}
                                                                <td></td>
                                                            {% endif %}
                                                            <td class=".ct-name"><span style="color: rgb(41,144,216)">{{data.name}}</span></td>
                                                            <td></td>
                                                            <td><span style="color: rgb(41,144,216)">{{data.kills}}</span></td>
                                                            <td><span style="color: rgb(41,144,216)">{{data.deaths}}</span></td>
                                                            <td><span style="color: rgb(41,144,216)">{{data.kd}}</span></td>
                                                        {% endif %}
                                                        {% if data.mvp > 0 %}
                                                            <td>&#x2b50;<sup style="color: rgb(240,180,18)">{{data.mvp}}</sup></td>
                                                        {% else %}
                                                            <td class="left-col-ct"></td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endifequal %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>    
                                    </table>
                                </div>
                                <div class="col-lg-6" style="padding: 0px;">
                                    <table class="table table-terrorist table-hover" style="margin:0;border: black solid 0px;">
                                        <thead>
                                          <tr class="t-head-row">
                                            <th class="left-head-t"></th>
                                            <th>Tag</th>
                                            <th class="t-name-head">Player Name</th>
                                            <th></th>
                                            <th>K</th>
                                            <th>D</th>
                                            <th>R</th>
                                            <th>MVP</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for steam in sorted_list %}
                                            {% for steamid, data in scoreboard.players.items %}
                                                {% if steamid == steam %}
                                                    {% ifequal data.team 2 %}
                                                    <tr id="player_{{steamid}}" class="t-player" style="width: 100%;">
                                                        {% if data.alive == False %}
                                                            <td class="left-col-t"></td>
                                                            {% if data.tag %}
                                                                <td><span style="color: #7a8288">{{data.tag}}</span></td>
                                                            {% else %}
                                                                <td></td>
                                                            {% endif %}
                                                            <td class="t-name"><span style="color: #7a8288">{{data.name}}</span></td>
                                                            <td>&#x1f480;</td>
                                                            <td><span style="color: #7a8288">{{data.kills}}</span></td>
                                                            <td><span style="color: #7a8288">{{data.deaths}}</span></td>
                                                            <td><span style="color: #7a8288">{{data.kd}}</span></td>
                                                        {% else %}
                                                            <td class="left-col-t"></td>
                                                            {% if data.tag %}
                                                                <td><span style="color: rgb(216,144,41)">{{data.tag}}</span></td>
                                                            {% else %}
                                                                <td></td>
                                                            {% endif %}
                                                            <td class="t-name"><span style="color: rgb(216,144,41)">{{data.name}}</span></td>
                                                            <td></td>
                                                            <td><span style="color: rgb(216,144,41)">{{data.kills}}</span></td>
                                                            <td><span style="color: rgb(216,144,41)">{{data.deaths}}</span></td>
                                                            <td><span style="color: rgb(216,144,41)">{{data.kd}}</span></td>
                                                        {% endif %}
                                                        {% if data.mvp > 0 %}
                                                            <td>&#x2b50;<sup style="color: rgb(240,180,18)">{{data.mvp}}</sup></td>
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endifequal %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12" style="padding: 0px;">
                                 <table class="table table-spec" style="margin-bottom: 5px; margin-top: 5px; border: black solid 0;">
                                    <tbody>
                                      <tr>
                                        <td style="width: 1px;"></td>
                                        <th style="width: 130px">Spectators ({{spec_player_count}}):</th>
                                        <td style="width: 100%;">
                                        {% for steamid, data in scoreboard.players.items %}
                                            {% if data.team in specteams %}
                                                <span id="player_{{steamid}}" class="player-name">{{data.name}}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row" style="width: 100%;">
                                <div class="col-md-6" style="margin: 0;">
                                    <span id="server" class="server-name">Server: {{scoreboard.hostname}}</span>
                                    <p style="margin-bottom: 0"><strong class="item">Map: <span id="map" class="current-map"><em>{{scoreboard.map}}</em></span></strong></p>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-1"></div>
                                <div class="col-md-1">
                                    <div class="col-md-1" style="padding: 0;">
                                    <span id="round" class="current-round">Round: {{round_count}}</span>
                                    <p style="margin-bottom: 0"><strong class="item">Players: <span id="player" class="player-count"><em>{{player_count}}/{{scoreboard.slots}}</em></span></strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Server Logs
                            </div>
                            <div class="panel-body">                       
                                <textarea class="form-control" id="override-color" rows="15" style="margin-bottom: 15px" readonly>
    {% for log_entry in scoreboard.logs %}{{log_entry}}
    {% endfor %}
    Logs for current date and time: </textarea>
                                <div class="col-xs-2" style="padding: 0;">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #3e444c; color: #eee">
                                      Update Scoreboard and Serverlogs by Date and Time <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" id="click-option" aria-labelledby="btnGroupDrop1" style="width: 1%; background-color: #3e444c; ">
                                      <a class="dropdown-item" id="option1" href="#"><span>Current Time </br></span></a>
                                      <a class="dropdown-item" id="option2" href="#"><span>3/28/17 - 12:00:00 </br> </span></a>
                                      <a class="dropdown-item" id="option3" href="#"><span>3/28/17 - 13:00:00 </br> </span></a>
                                    </div>
                                </div>
                            </div>                            
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="pull-left"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="{% static 'stats/js/bootstrap.min.js' %}"></script>

<script type="text/javascript">

$(document).ready(function(){                        
    $('#click-option #option1').click(function(){
        var mystring = '{% for log_entry in scoreboard.logs %}{{log_entry}}\n{% endfor %}' + '\nLogs for current date and time: ' + Date();
        $('#override-color').val(mystring);
    }); 
    $('#click-option #option2').click(function(){
        $('#override-color').val({{round_count}});
    }); 

    //Media queries
    if ($(window).innerWidth() >= 1200 && $(window).innerWidth() < 1800) {       
        $('.tableheader4 h1').css("margin-left", "80px");

        if ($(window).innerWidth() >= 1200 && $(window).innerWidth() < 1300){
            $('.tableheader3 p').css("margin-left", "110px");
            $('.tableheader6 p').css("margin-left", "60px");
        }
        else if ($(window).innerWidth() >= 1300 && $(window).innerWidth() < 1400){
            $('.tableheader3 p').css("margin-left", "90px");
            $('.tableheader6 p').css("margin-left", "50px");
        }
        else if ($(window).innerWidth() >= 1400 && $(window).innerWidth() < 1500){
            $('.tableheader3 p').css("margin-left", "80px");
            $('.tableheader6 p').css("margin-left", "40px");     
        }
        else if ($(window).innerWidth() >= 1500 && $(window).innerWidth() < 1600){
            $('.tableheader3 p').css("margin-left", "60px");
            $('.tableheader6 p').css("margin-left", "30px");
        }
        else if ($(window).innerWidth() >= 1600 && $(window).innerWidth() < 1700){
            $('.tableheader3 p').css("margin-left", "45px");
            $('.tableheader6 p').css("margin-left", "20px");
        }
        else if ($(window).innerWidth() >= 1700 && $(window).innerWidth() < 1800){
            $('.tableheader3 p').css("margin-left", "30px");
            $('.tableheader6 p').css("margin-left", "10px");
        }
    }

    if ($(window).innerWidth() >= 1500){
        $('.tableheader4 h1').css("margin-left", "0px");
    }    

    if ($(window).innerWidth() <= 1280) {
        $('.left-head-ct').remove();
        $('.left-col-ct').remove();
        $('.left-head-t').remove();
        $('.left-col-t').remove();
    } 

    if ($(window).innerWidth() <= 1199) {
        $('.tableheader1').remove();
        $('.tableheader2').css("width", "50%");
        $('.tableheader2').css("padding-top", "12px");
        $('.tableheader2').css("padding-right", "35px");
        $('.tableheader2').append("<p style='margin:0; color: rgb(41,144,216);'><strong class='item'><span>Players Alive: </span></strong><em>{{ct_alive_count}}/{{ct_player_count}}</em></p>");
        $('.tableheader3').remove();
        $('.tableheader4').css("width", "25%");
        $('.tableheader4').css("padding-bottom", "18px");
        $('.tableheader5').css("width", "25%");
        $('.tableheader5').css("padding-top", "12px");
        $('.tableheader5').css("padding-left", "0");
        $('.tableheader5').append('<p style="margin: 0; color: rgb(216,144,41);"><strong class="item"><span> Players Alive: </span></strong><em>{{t_alive_count}}/{{t_player_count}}</em></p>');
        $('.tableheader6').remove();
    } 

    if ($(window).innerWidth() <= 680) {
        $('.tableheader2').css("width", "50%");
        $('.tableheader4').css("width", "22%");
        $('.tableheader5').css("width", "28%");
        $('.ct-name-head').css("padding-left", "4%");
        $('.t-name-head').css("padding-left", "4%");
        $('.ct-name').css("padding-left", "4%");
        $('.t-name').css("padding-left", "4%");
    } 
});

// Media queries on resize

$(window).resize(function(){

    if ($(window).innerWidth() >= 1200){
        $('.tableheader4 h1').css("margin-left", "80px");

        if ($(window).innerWidth() >= 1200 && $(window).innerWidth() < 1300){
            marginleft = '110';
            marginleft6 = '60';
        }
        else if ($(window).innerWidth() >= 1300 && $(window).innerWidth() < 1400){
            marginleft = '90';
            marginleft6 = '50';
        }
        else if ($(window).innerWidth() >= 1400 && $(window).innerWidth() < 1500){
            marginleft = '80';  
            marginleft6 = '40';     
        }
        else if ($(window).innerWidth() >= 1500 && $(window).innerWidth() < 1600){
            marginleft = '60';
            marginleft6 = '30';
        }
        else if ($(window).innerWidth() >= 1600 && $(window).innerWidth() < 1700){
            marginleft = '45';
            marginleft6 = '20';
        }
        else if ($(window).innerWidth() >= 1700 && $(window).innerWidth() < 1800){
            marginleft = '30';
            marginleft6 = '10';
        }
        else if ($(window).innerWidth() >= 1800){
            marginleft = '0';
            marginleft6 = '0';
        }

        var appendedstring = '<th class="tableheader3" style="width: 17.7%;"><p style="padding-left: 0; margin: 16px 0 0 ' + marginleft + 'px; color: rgb(41,144,216);"><strong class="item"><span>Players Alive: </span></strong><em>{{ct_alive_count}}/{{ct_player_count}}</em></p></th>';

        var appendedstring2 = '<th class="tableheader6" style="width: 23.8%;"><p style="padding-left: 0; margin: 16px 0 0 ' + marginleft6 + 'px; color: rgb(216,144,41);"><strong class="item"><span> Players Alive: </span></strong><em>{{t_alive_count}}/{{t_player_count}}</em></p></th>'

        $('.scoreboard-header').empty();
        $('.scoreboard-header').append('<th class="tableheader1" style="width: 14%;"></th>');           
        $('.scoreboard-header').append('<th class="tableheader2" style="width: 16%; padding-right: 4px;"><h1 style="margin: 0"> <span id="ct-title" class="ct-wins">{{scoreboard.teams.3}}</span></h1></th>');
        $('.scoreboard-header').append(appendedstring);
        $('.scoreboard-header').append('<th class="tableheader4" style="width: 20%;"><h1 style="margin: 0 0 0 80px;"> <span id="ct-round-wins" class="ct-wins">{{ct_round_wins}}</span> : <span id="t-round-wins" class="t-wins">{{t_round_wins}}</span></h1></th>');
        $('.scoreboard-header').append('<th class="tableheader5" style="width: 8.5%; padding-right: 4px;"><h1 style="margin: 0"> <span id="t-title" class="t-wins">{{scoreboard.teams.2}}</span></h1></th>');
        $('.scoreboard-header').append(appendedstring2);

        if ($(window).innerWidth() >= 1800){
            $('.tableheader3 p').css("margin-left", "0");
            $('.tableheader6 p').css("margin-left", "0");
        }
    }    

    if($(window).innerWidth() >= 1500){
        $('.tableheader4 h1').css("margin-left", "0");
    }

    if ($(window).innerWidth() > 1280) {
        if($('.left-head-ct').length == 0){
            $('.ct-head-row').prepend('<th class="left-head-ct"></th>');
            $('.ct-player').prepend('<td class="left-col-ct"></td>');
            $('.t-head-row').prepend('<th class="left-head-t"></th>');
            $('.t-player').prepend('<td class="left-col-t"></td>');
        }
    } 

    if ($(window).innerWidth() <= 1280) {
        $('.left-head-ct').remove();
        $('.left-col-ct').remove();
        $('.left-head-t').remove();
        $('.left-col-t').remove();
    } 

    if ($(window).innerWidth() <= 1199) {
        if($('.tableheader1').length != 0)
        {
            $('.tableheader1').remove();
            $('.tableheader2').css("width", "50%");
            $('.tableheader2').css("padding-top", "12px");
            $('.tableheader2').css("padding-right", "35px");
            $('.tableheader2').append("<p style='margin:0; color: rgb(41,144,216);'><strong class='item'><span>Players Alive: </span></strong><em>{{ct_alive_count}}/{{ct_player_count}}</em></p>");
            $('.tableheader3').remove();
            $('.tableheader4').css("width", "25%");
            $('.tableheader4 h1').css("margin-left", "0");
            $('.tableheader4').css("padding-bottom", "18px");
            $('.tableheader5').css("width", "25%");
            $('.tableheader5').css("padding-top", "12px");
            $('.tableheader5').css("padding-left", "0");
            $('.tableheader5').append('<p style="margin: 0; color: rgb(216,144,41);"><strong class="item"><span> Players Alive: </span></strong><em>{{t_alive_count}}/{{t_player_count}}</em></p>');
            $('.tableheader6').remove();
        }

    } 

    if ($(window).innerWidth() <= 680) {
        $('.tableheader2').css("width", "50%");
        $('.tableheader4').css("width", "22%");
        $('.tableheader4 h1').css("margin-left", "0");
        $('.tableheader5').css("width", "28%");
        $('.ct-name-head').css("padding-left", "4%");
        $('.t-name-head').css("padding-left", "4%");
        $('.ct-name').css("padding-left", "4%");
        $('.t-name').css("padding-left", "4%");
    } 
});

</script>

<script type="text/javascript">
    document.getElementById('override-color').innerHTML += Date();
</script>

</body>
</html>