{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Stats for {{scoreboard.hostname}}</title>
<meta name= "viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href='{% static "stats/css/bootstrap.min.css" %}' />
<link rel="stylesheet" type="text/css" href='{% static "stats/css/bootstrap-theme.css" %}' >
<link rel="icon" type="image/png" sizes="32x32" href="//elevatedgaming.net/favicon_32.png">

</head>

<style type="text/css">

/*
*, html {
    margin:0;
    padding:0;  
}

h1, p, span, th, strong, #round{
    white-space: nowrap;
}

table{
    width: 100%;
    table-layout: fixed;
}
*/

.no-gutter {
    padding:0px;
    margin:0px;
}

.item-tag > span::before { 
    content: "[";
}
.item-tag > span::after { 
    content: "]";
}

.table-terrorist>tbody>tr:nth-child(odd)>td,tr{
    background-color:rgba(0,0,0,0.25);
}
.table-cterrorist>tbody>tr:nth-child(odd)>td,tr{
    background-color:rgba(0,0,0,0.25);
}

.table-terrorist{
    background-color:rgba(255,51,51,0.40);
    margin-bottom: 0px;
}
.table-cterrorist{
    background-color:rgba(51,51,255,0.40);
    margin-bottom: 0px;
}
.table-header{
    background-color:rgba(255,255,255,0.04);
}

.ct-wins{
    color: rgb(41,144,216);
}

.t-wins{
    color: rgb(216,144,41);
}

#player_{{steamid}}{
    margin: 5px 0;
}

.special{
    margin: 5px 0 !important;
}

.table-spec>tbody>tr>td:hover{
    background-color: #49515a;
}
.table-spec>tbody>tr>td:nth-chil(odd){
    background-color:rgba(0,0,0,0.25);
}
.table-spec>tbody>tr>td>.player-name:after {
    content: ", ";
}
.table-spec>tbody>tr>td>.player-name:last-child:after{
    content: "";
}
.table-spec>tbody>tr>th{
    white-space: nowrap;
}
.table-spec{
    background-color:rgba(255,255,255,0.40);
    margin-bottom: 0px;
}
#override-color{
    background-color:#3e444c;
    color: #eee;
}
.dropdown-item{
    margin-left: 7%;
}

/*-----------------MEDIA QUERIES-------------------------*/
@media only screen and (max-width: 437px) {

    #page-content-wrapper{
        display: table;
    }

}

</style>

<body>
<!-- Page Content -->
<div id="page-content-wrapper">

    <div class="container-fluid">
        <div id="django-msg-wrapper"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-breadcrumb"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
              <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>
                                    <strong>Stats</strong>
                                    <p><small>Live scoreboard and logs for {{scoreboard.hostname}}. {% if gameserver.connected %}<span class="label label-success">Active</span>{% else %}<span class="label label-danger">Inactive</span>{% endif %}</small></p>
                                    <button type="button" class="btn btn-default btn-sm"><a href="..">Go back to Server List</a></button>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Scoreboard
                        </div>
                        <div class="panel-body" style="padding:0px"> 
                            <div class="col-lg-6 no-gutter">

                                <div class="pull-left"  style="padding: 4px;padding-left: 8px">
                                    <h1 class="ct-wins" style="font-size: 22px; margin: 0"><strong>{{scoreboard.teams.3.name}}</strong></h1>
                                    <h1 class="ct-wins" style="font-size: 14px; margin: 0;"><strong>Players Alive:<em>&nbsp;{{scoreboard.teams.3.alive_count}}/{{scoreboard.teams.3.player_count}}</em></strong></h1>
                                </div>

                                <div class="pull-right" style="padding: 4px;">                                                            
                                    <h1 style="margin: 0;"><span id="ct-round-wins" class="ct-wins">{{scoreboard.teams.3.score}}</span><span style="margin-right: -0.25em;" class="hidden-md hidden-sm hidden-xs">&nbsp;:</span></h1>
                                </div>

                                <table class="table table-cterrorist table-hover" style="margin:0;border: black solid 0px;">
                                    <thead>
                                      <tr>
                                        <th style="width: 1px"></th>
                                        <th>Tag</th>
                                        <th>Player Name</th>
                                        <th></th>
                                        <th>K</th>
                                        <th>D</th>
                                        <th>R</th>
                                        <th>MVP</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for steamid, data in scoreboard.players.items %}
                                            {% if data.team == 3 %}
                                            <tr id="player_{{steamid}}" class="ct-player" style="width: 100%;">                                           
                                                {% if data.alive == False %}
                                                    <td></td>
                                                    {% if data.tag %}
                                                        <td><span style="color: #7a8288">{{data.tag}}</span></td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    <td><span style="color: #7a8288">{{data.name}}</span></td>
                                                    <td>&#x1f480;</td>
                                                    <td><span style="color: #7a8288">{{data.kills}}</span></td>
                                                    <td><span style="color: #7a8288">{{data.deaths}}</span></td>
                                                    <td><span style="color: #7a8288">{{data.kd}}</span></td>
                                                {% else %}
                                                    <td></td>
                                                    {% if data.tag %}
                                                        <td><span style="color: rgb(41,144,216)">{{data.tag}}</span></td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    <td><span style="color: rgb(41,144,216)">{{data.name}}</span></td>
                                                    <td></td>
                                                    <td><span style="color: rgb(41,144,216)">{{data.kills}}</span></td>
                                                    <td><span style="color: rgb(41,144,216)">{{data.deaths}}</span></td>
                                                    <td><span style="color: rgb(41,144,216)">{{data.kd}}</span></td>
                                                {% endif %}
                                                {% if data.mvp > 0 %}
                                                    <td>&#x2b50;<sup style="color: rgb(240,180,18)">{{data.mvp}}</sup></td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            </tr>
                                                {% endif %}
                                        {% endfor %}
                                    </tbody>    
                                </table>
                            </div>
                            <div class="col-lg-6 no-gutter">

                                <div class="pull-right hidden-md hidden-sm hidden-xs"  style="padding: 4px;padding-right: 8px">
                                    <h1 class="t-wins" style="font-size: 22px; margin: 0"><strong>{{scoreboard.teams.2.name}}</strong></h1>
                                    <h1 class="t-wins" style="font-size: 14px; margin: 0;"><strong>Players Alive:<em>&nbsp;{{scoreboard.teams.2.alive_count}}/{{scoreboard.teams.2.player_count}}</em></strong></h1>
                                </div>

                                <div class="pull-left hidden-md hidden-sm hidden-xs" style="padding: 4px;">                                                            
                                    <h1 style="margin: 0;"><span style="margin-left: -0.25em;" class=>:&nbsp;</span><span id="t-round-wins" class="t-wins">{{scoreboard.teams.2.score}}</span></h1>
                                </div>

                                <div class="pull-left hidden-lg" style="padding: 4px;padding-left: 8px">
                                    <h1 class="t-wins" style="font-size: 22px; margin: 0"><strong>{{scoreboard.teams.2.name}}</strong></h1>
                                    <h1 class="t-wins" style="font-size: 14px; margin: 0;"><strong>Players Alive:<em>&nbsp;{{scoreboard.teams.2.alive_count}}/{{scoreboard.teams.2.player_count}}</em></strong></h1>
                                </div>

                                <div class="pull-right hidden-lg" style="padding: 4px;">                                                            
                                    <h1 style="margin: 0;"><span id="t-round-wins" class="t-wins">{{scoreboard.teams.2.score}}</span></h1>
                                </div>

                                <table class="table table-terrorist table-hover" style="border: black solid 0px;">
                                    <thead>
                                      <tr>
                                        <th style="width: 1px"></th>
                                        <th>Tag</th>
                                        <th>Player Name</th>
                                        <th></th>
                                        <th>K</th>
                                        <th>D</th>
                                        <th>R</th>
                                        <th>MVP</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for steamid, data in scoreboard.players.items %}
                                            {% if data.team == 2 %}
                                            <tr id="player_{{steamid}}" class="t-player" style="width: 100%;">
                                                {% if data.alive == False %}
                                                    <td></td>
                                                    {% if data.tag %}
                                                        <td><span style="color: #7a8288">{{data.tag}}</span></td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    <td><span style="color: #7a8288">{{data.name}}</span></td>
                                                    <td>&#x1f480;</td>
                                                    <td><span style="color: #7a8288">{{data.kills}}</span></td>
                                                    <td><span style="color: #7a8288">{{data.deaths}}</span></td>
                                                    <td><span style="color: #7a8288">{{data.kd}}</span></td>
                                                {% else %}
                                                    <td></td>
                                                    {% if data.tag %}
                                                        <td><span style="color: rgb(216,144,41)">{{data.tag}}</span></td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                    <td><span style="color: rgb(216,144,41)">{{data.name}}</span></td>
                                                    <td></td>
                                                    <td><span style="color: rgb(216,144,41)">{{data.kills}}</span></td>
                                                    <td><span style="color: rgb(216,144,41)">{{data.deaths}}</span></td>
                                                    <td><span style="color: rgb(216,144,41)">{{data.kd}}</span></td>
                                                {% endif %}
                                                {% if data.mvp > 0 %}
                                                    <td>&#x2b50;<sup style="color: rgb(240,180,18)">{{data.mvp}}</sup></td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 no-gutter">
                                 <table class="table table-spec" style="border: black solid 0;">
                                    <tbody>
                                      <tr>
                                        <td style="width: 1px;"></td>
                                        <th style="width: 130px">Spectators ({{scoreboard.teams.1.player_count|add:scoreboard.teams.0.player_count}}):</th>
                                        <td style="width: 100%;">
                                        {% for steamid, data in scoreboard.players.items %}
                                            {% if data.team in specteams %}
                                                <span id="player_{{steamid}}" class="player-name">{{data.name}}</span>
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="pull-left">
                                        <span id="server" class="server-name">Server: {{scoreboard.hostname}}</span>
                                        <p style="margin-bottom: 0"><strong class="item">Map: <span id="map" class="current-map"><em>{{scoreboard.map}}</em></span></strong></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pull-right">
                                        <span id="round" class="current-round">Round: {{scoreboard.round_count}}</span>
                                        <p style="margin-bottom: 0"><strong class="item">Players: <span id="player" class="player-count"><em>{{scoreboard.player_count}}/{{scoreboard.slots}}</em></span></strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Server Logs
                        </div>
                        <div class="panel-body">                      
                            <textarea class="form-control" id="override-color" rows="15" style="margin-bottom: 15px" readonly>
{% for log_entry in scoreboard.logs %} {{log_entry}} 
{% endfor %}</textarea>
                        </div>                            
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pull-left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="{% static 'stats/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'channels/js/websocketbridge.js' %}"></script>

<script type="text/javascript">

    const webSocketBridge = new channels.WebSocketBridge();
    webSocketBridge.connect('/ws/');
    webSocketBridge.listen();
    webSocketBridge.socket.addEventListener('open', function(action, stream, msg) {
        console.log("Connected to WebSocket");
        console.log(action, msg);
    })

</script>

</body>
</html>